<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <!-- form to edit post -->
    <h1>Editing post</h1>
    <p>post id : <%= post.id %></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <input type="text" name="imagelink" placeholder="image file name">
        <br><br>
        <textarea name="caption"> <%= post.caption %> </textarea>
        <br><br>
        <button class="btn">edit post</button>
    </form>
</body>
</html>