<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <!-- form for new post -->
    <form method="post" action="/posts/new">
        <input type="text" placeholder="username" name="username">
        <br><br>
        <input type="text" placeholder="image file name" name="imagelink">
        <br><br>
        <textarea name="caption" placeholder="caption"></textarea>
        <br><br>
        <button class="btn">add new post</button>
    </form>
</body>
</html>